﻿
@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI</h2>

<form action="/BMI/Index" method="post">
    <p>@Html.DisplayNameFor(m => m.Height) @Html.TextBoxFor(m => m.Height) 公分 @Html.ValidationMessageFor(modelItem => @Model.Height)</p>
    <p>@Html.DisplayNameFor(m => m.Weight) @Html.TextBoxFor(m => m.Weight)  公斤 @Html.ValidationMessageFor(modelItem => @Model.Weight)</p>
    <input type="submit" name="Send" value="Submit" />
</form>
<br />
<p>Result: @Model.Result</p>
<br />
<p>Level: @Model.Level</p>
