﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p>Name: <input type="text" name="name" value="" /></p>
<p>Account: <input type="text" name="name" value="" /></p>
<p>Password: <input type="password" name="name" value="" /></p>
<p>
    Gender:
    <input type="radio" name="gender" value="A" />Male  
    <input type="radio" name="gender" value="B" />Female
</p>
<p>
    Hobby:
    <input type="checkbox" name="h-1" value="A" />Badminton
    <input type="checkbox" name="h-2" value="B" />Photography
</p>
<p>About Me: <textarea></textarea></p>