﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>
<p>Name: @Html.TextBox("username", "name")</p>
<p>Account: @Html.TextBox("account", "example@email.com")</p>
<p>Password: @Html.Password("pwd", "password")</p>
<p>
    Gender:
    @Html.RadioButton("Gender", "0", 1)Male
    @Html.RadioButton("Gender", "1", 0)Female
</p>
<p>
    Hobby:
    @Html.CheckBox("hobby", false) Badminton
    @Html.CheckBox("hobby", false) Photography
</p>
<p>About Me: @Html.TextArea("aboutme")</p>



